@charset "UTF-8";
#__bs_notify__ {
  padding: 0 5px 0 5px !important;
  border-radius: 0 !important;
  font-size: 5px !important;
  line-height: 100% !important;
  opacity: .3 !important; }

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font-size: 1em; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

html {
  font-size: 62.5%; }

body {
  -webkit-text-size-adjust: 100%; }

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

table,
input,
textarea,
select,
option {
  line-height: 1.1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

a {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

a:hover {
  opacity: .8;
  -ms-filter: "alpha(opacity=80)";
  filter: alpha(opacity=80); }

form label {
  cursor: pointer; }

body {
  color: #000000; }

picture {
  display: inline-block; }

.u-red1 {
  color: #e60013 !important; }

.u-nodisc {
  margin-left: 1em;
  list-style: none !important;
  text-indent: -1.2em; }
  @media screen and (max-width: 767px) {
    .u-nodisc {
      margin-left: -.0em;
      text-indent: -.8em; } }

.u-anchor {
  margin-top: -110px;
  padding-top: 110px; }
  @media screen and (max-width: 767px) {
    .u-anchor {
      margin-top: -20.3125vw;
      padding-top: 20.3125vw; } }

.u-anchor2 {
  margin-top: -200px;
  padding-top: 200px; }
  @media screen and (max-width: 767px) {
    .u-anchor2 {
      margin-top: -20.3125vw;
      padding-top: 20.3125vw; } }

.u-anchor3 {
  margin-top: -200px;
  padding-top: 200px; }
  @media screen and (max-width: 767px) {
    .u-anchor3 {
      margin-top: -39.0625vw;
      padding-top: 39.0625vw; } }

@media screen and (min-width: 768px) {
  .sp-only {
    display: none; } }

@media screen and (max-width: 767px) {
  .pc-only {
    display: none; }
  img {
    max-width: 100%;
    height: auto; } }

@media screen and (min-width: 768px) {
  img {
    max-width: auto !important;
    width: auto !important; } }

body {
  font-family: "Noto Sans JP", sans-serif; }

.l-main1 {
  padding: 3.125vw 3.125vw 28.125vw 3.125vw; }

.c-frame1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 12.5vw 0 0 0;
  border-radius: 1.5625vw;
  background-color: #efefef; }
  .c-frame1:first-child {
    margin-top: 0;
    border-top: 0; }
  .c-frame1__block1 {
    width: 100%; }
    .c-frame1__block1 .c-input1 {
      width: 100%;
      text-align: center;
      font-size: 6.25vw; }
  .c-frame1__head1 {
    padding: 5vw;
    background-color: #a3e3c6; }
  .c-frame1__body1 {
    padding: 4.375vw;
    background-color: #ffefc4; }
  .c-frame1__foot1 {
    padding: 4.6875vw;
    background-color: #9ec6e7; }

.c-table1 .c-input1,
.c-table1 .c-input2 {
  width: 100%;
  font-size: 6.875vw; }

.c-table1 td {
  padding: 2.5vw 0; }
  .c-table1 td:nth-child(1) {
    padding: 0 3.125vw 0 0;
    width: 40.625vw;
    text-align: right; }
  .c-table1 td:nth-child(3) {
    padding: 0 0 0 3.125vw; }

.c-table2 .c-input1 {
  width: 100%;
  font-size: 9.375vw; }

.c-table2 td:nth-child(1) {
  padding: 0 3.125vw 0 0;
  width: 19.375vw;
  text-align: right; }

.c-table2 td:nth-child(3) {
  padding: 0 0 0 3.125vw; }

.c-input1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.875vw 3.125vw;
  border: 1px solid #cccccc;
  border-radius: 1.5625vw;
  text-align: right;
  line-height: 1; }
  .c-input1::-webkit-input-placeholder {
    color: #cccccc; }
  .c-input1::-moz-placeholder {
    color: #cccccc; }
  .c-input1:-ms-input-placeholder {
    color: #cccccc; }
  .c-input1::-ms-input-placeholder {
    color: #cccccc; }
  .c-input1::placeholder {
    color: #cccccc; }
  .c-input1:disabled {
    pointer-events: none; }

.c-input2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2.8125vw 3.125vw;
  border: 1px solid #cccccc;
  border-radius: 1.5625vw;
  background-color: #efefef;
  text-align: right;
  line-height: 1; }

.c-input3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2.8125vw 3.125vw;
  width: 37.5vw;
  border: 0;
  text-align: center;
  font-size: 11.5625vw;
  line-height: 1; }

.c-text1 {
  font-size: 4.375vw; }

.c-text2 {
  font-size: 4.0625vw; }

.c-text3 {
  font-size: 5vw; }

.c-title1 {
  padding: 4.0625vw 0 6.875vw 0;
  text-align: center;
  font-size: 7.1875vw; }

.c-fixed1 {
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.1875vw 0;
  width: 100%;
  border-top: 1px solid #cccccc;
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 1; }
  .c-fixed1 .c-input3 {
    margin: 0 3.125vw;
    -webkit-transform: translate(0, -0.9375vw);
        -ms-transform: translate(0, -0.9375vw);
            transform: translate(0, -0.9375vw); }
